*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/********** HEADER **********/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    margin-right: 5%;
}

header #titre{
    text-decoration: none;
    color: rgb(169, 99, 249);
    margin-left: 4%;
}
/********** FOOTER **********/
footer{
    padding: 2%;
    color: rgb(192, 191, 220);
    border-top: 1px solid rgb(192, 191, 220);
    width: 93%;
    margin-left: 1%;
}
footer p{
    margin-left: 5%;
}
.footer_index{
  position: absolute; /* media query pour modif avec responsiv */
  bottom: 0;
}
/********** INDEX **********/
.page_index{
    background-color: rgb(29, 28, 34);
    font-family: 'Roboto', sans-serif;
}

#index{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

#corpus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#index svg{
    width: 110%;
    height: 110%;
    margin-right: 5%;
}

.description{
    margin: 5%;
}

.description h2{
    color: rgb(169, 99, 249);
}

.description p{
    color: rgb(192, 191, 220);
    margin: 2%;
    margin-top: 0;
}

#index #start{
    background-color: rgb(169, 99, 249);
    color: white;
    align-self: center;
    width: 20%;
    padding: 2.5%;
    border-radius: 15px;
    outline: none;
    font-weight: bold;
}

.hidden {
  visibility: hidden;
  min-height:50px;
}


/********* CHAT *********/
#page_chat{
    background-color: rgb(29, 28, 34);
}

#page_chat footer{
    position: absolute;
    bottom: 0;
}

#chat{
    background-image: url('../../img/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 7%;
    padding-right: 7%;
    height: 340px;
}

#corps_discord{
    background-color: rgba(29, 28, 34);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#channels{
    width: 215px;
    height: 350px;
}

#h3_salon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(28, 83, 185);
    font-size: 1.5em;
}

#titre_salon{
    text-align: center;
    color: whitesmoke;
    font-size: 1.1em;
}

#titre_salon span{
    font-weight: bold;
}

#form_new{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#form_new input{
    border-radius: 15px;
    padding-left: 4%;
    outline: none;
    width: 60%;
}

.salon{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 15%;
    overflow-y: auto;
}

.salon li{
    margin-top: 4%;
    text-decoration: none;
    list-style-type: none;
}

.salon li a{
    color:  rgb(160, 36, 212);
    font-size: 1.2em;
}

.salon li a:hover{
    color:  rgb(169, 99, 249);
    font-weight: bold;
}

#membres{
    width: 215px;
    height: 350px;
}

#personnes{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#personnes h3{
    color: rgb(28, 83, 185);
    text-align: center;
    font-size: 1.5em;
}

#personnes li{
    text-decoration: none;
    list-style-type: none;
    color: rgb(160, 36, 212);
    text-align: right;
    margin-top: 5%;
    margin-right: 15%;
}

#messageries{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;
    overflow-y: auto;
}

.msg_complet{
    border-radius: 15px;
    padding: 2%;
}

.msg_complet:hover{
    background-color: gray;
}

.entete_msg{
    color: rgb(169, 99, 249);
    font-weight: bold;
}

.corps_msg{
    color: rgb(192, 191, 220);
    text-indent: 5%;
}

#form_new_msg{
    position: absolute;
    left: auto;
    right: auto;
    left: 0;
    right: 0;
    bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#form_new_msg form{
    display: flex;
    flex-direction: row;
}

#new_message{
    border-radius: 15px;
    padding-left: 4%;
    width: 80%;
    outline: none;
}

#submit_new_message{
    width: 5vw;
    height: 5vh;
    border-radius: 50%;
}

/********** PROFIL **********/
#tab_admin{
    border-collapse: collapse;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#tab_admin tr{
    border-collapse: collapse;
    background-color: rgba(29, 28, 34);
    border-radius: 15px;
    color: rgb(192, 191, 220);
}

#tab_admin td,
#tab_admin th{
    width: 20vw;
    height: 10vh;
    border-collapse: collapse;
    padding: 2%;
}